@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-image: url("travel.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
:root {
  --mainColor: #31448d;
  --mainColorLight: #5767aa;
  --secondaryColor: #bba7a7;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Consolas, monaco, monospace;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
.search-button {
  border: 0px;
  background-color: rgb(175, 175, 175);
  width: 40px;
  height: 29px;
}
.search-form {
  border-radius: 10px;
}
.search-input {
  width: 200px;
  height: 30px;
}
.logo {
  font-size: 40px;
}
.more-travel {
  margin-top: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 5px;
  height: 40px;
}

.search-container input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  border-radius: 15px 0 0 15px;
}

.search-container button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
}

.logo {
  font-family: Anton;
}

.search-mui {
  height: 47px;
}
