<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <h4>NOde MYSQL</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>

        </ul>
    </nav>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">
                <form action="/auth/resetpassword" method="POST">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="resetPassword"> Reset Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="resetPasswordConfirm"> Confirm Reset Password</label>
                        <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>

            {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
    </div>